.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

#left-side{
    position: relative;
    width: 100%
}

#left-side>img{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    box-shadow: 0px 20px 29px -21px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 4%;
}

button{
    margin-top: 20px;
}

#right-side{
    
    width: 100%;
}

@media only screen and (max-width: 600px) {

    #left-side{
       flex: 3;
    } 

  }